<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ttc2019.live.mutator/src/ttc2019/live/mutator/CLIRunner.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ttc2019.live.mutator.CLIRunner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${resource_loc:/ttc2019.live.mutator/resources/docbook-example.xmi} resources/mutatedExample 20 5 42"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ttc2019.live.mutator"/>
</launchConfiguration>
